.todos__productos__cuerpo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.3rem;
}
/*item*/
.todos__productos .item {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .todos__productos__cuerpo {
    grid-template-columns: repeat(4, 1fr);
  }
  .todos__productos__cuerpo .item:last-child,
  .todos__productos__cuerpo .item:nth-child(5) {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .todos__productos__cuerpo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .todos__productos__cuerpo .item:last-child,
  .todos__productos__cuerpo .item:nth-child(5) {
    display: block;
  }
}
