.todos__productos__cuerpo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.3rem;
}
.btn__agregar-producto input{
  padding: 8px 80px;
  padding: 3% 10%;
  color: #ffffff;
  background: var(--main-bg-azul);
  font-size: 1.2rem;
  font-weight: bold;
}
/*item*/
.todos__productos .item {
  margin-top: 40px;
  margin-bottom: 40px;
}
.imagen__producto {
  position: relative;
}
.imagen__producto a {
  position: absolute;
  top: 5%;
}
.imagen__producto .a1 {
  left: 60%;
}
.imagen__producto .a2 {
  left: 75%;
}
.imagen__producto a i {
  font-size: 1.5rem;
  color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .todos__productos__cuerpo {
    grid-template-columns: repeat(4, 1fr);
  }
  .todos__productos__cuerpo .item:last-child,
  .todos__productos__cuerpo .item:nth-child(5) {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .todos__productos__cuerpo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .todos__productos__cuerpo .item:last-child,
  .todos__productos__cuerpo .item:nth-child(5) {
    display: block;
  }
  .imagen__producto .a1 {
    left: 70%;
  }
  .imagen__producto .a2 {
    left: 85%;
  }
}
