.productos__similares {
  margin-bottom: 60px;
}
.producto {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.product__left {
  width: 250%;
}
.product__left img {
  width: 90%;
}
.product__right h2 {
  font-size: 3rem;
}
.producto__titulo {
  font-size: 2rem;
}

@media only screen and (max-width: 767px) {
  .productos__similares {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .producto {
    flex-direction: column;
    margin-top: 40px;
  }
  .product__left {
    width: 100%;
  }
  .product__left img {
    width: 100%;
  }
}
