body {
  width: 100%;
}

/*Header*/
.encabezado__header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.encabezado__header div:first-child {
  margin-top: 20px;
  margin-bottom: 20px;
}
.encabezado__header div:nth-child(2) {
  margin-left: -30%;
}
.encabezado__header div:nth-child(2) input,
.encabezado__header div:nth-child(2) button {
  background: #fff;
  border: none;
  outline: none;
}
.encabezado__header form input::placeholder {
  font-weight: bold;
  font-size: 1.1rem;
}
.encabezado__header div:nth-child(2) form {
  background: linear-gradient(to bottom, #00000020 10%, #69acfd50 90%);
  z-index: 1;
  padding: 8px;
}
.encabezado__header div:last-child button {
  padding: 8px 80px;
  border: solid 2px #69acfd;
  font-size: 1.2rem;
  font-weight: bold;
}

/*header banner*/
.banner__geek {
  color: #ffffff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%),
    url(../../img/banner-champignon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 77%) inset;*/
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: flex-end;
  height: 352px;
  margin: 0;
  /*width: 100%;*/
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.banner__container {
  margin-left: 10%;
  margin-bottom: 20px;
}
.banner__geek h2 {
  font-size: 3.5rem;
}
.banner__geek h4 {
  font-size: 1.3rem;
}
.banner__geek button {
  padding: 8px 80px;
  /*border: solid 2px #69acfd;*/
  color: #ffffff;
  background: #00ff00;
  font-size: 1.2rem;
  font-weight: bold;
}

/*Main*/
section {
  width: 80%;
  margin: 40px auto 0;
}

.productos__encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.productos__titulo {
  font-family: italic;
  color: red;
}
.productos__ver-todo {
  color: #00ff00;
}
.productos__cuerpo {
  display: grid;
  grid-template-columns: 16.65% 16.65% 16.65% 16.65% 16.65% 16.65%;
  grid-template-rows: 100%;
  /*grid-template-rows: 33.33% 33.33% 33.33%;*/
  /*height: calc(100vh - 50px);*/
  gap: 0.3rem;
}
/*item*/
.item img {
  width: 90%;
}
.item__nombre {
  font-size: 0.85rem;
}
.item__precio {
  font-weight: bold;
  font-family: italic;
}
.item__enlace {
  color: #00ff00;
  font-weight: bold;
  font-size: 1.1rem;
}

/*section formulario*/
.formulario {
  padding: 40px 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  background: linear-gradient(to bottom, #00000020 10%, #69acfd50 90%);
}
.formulario__left {
  display: flex;
}
.formulario__left div:first-child {
  padding-top: 10px;
}
.formulario__left div:last-child {
  margin-left: 15%;
}
.formulario__right div:first-child {
  width: 99%;
  background: #ffffff;
  margin: 0 0 10px;
  padding: 4px;
}
textarea,
.formulario__right div:first-child input {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}
.formulario__right form div:last-child input {
  background: #00ff00;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
}

/*Footer*/
footer {
  text-align: center;
  margin: 20px auto;
}
footer p {
  padding-top: 10px;
  font-size: 0.8rem;
}
footer div {
  font-size: 0.9rem;
}

/*Media query*/
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .encabezado__header {
    width: 90%;
  }
  .encabezado__header div:nth-child(2) {
    margin-left: -5%;
  }
  .banner__container {
    margin-left: 5%;
  }

  /*Main*/
  section {
    width: 90%;
  }
  /*section productos*/
  .productos__cuerpo {
    display: grid;
    grid-template-columns: 25.1% 25.1% 25.1% 25.1%;
  }
  .item:last-child,
  .item:nth-child(5) {
    display: none;
  }
  /*section formulario*/
  .formulario {
    padding: 40px 5%;
    grid-template-columns: 40% 60%;
  }
  .formulario__left {
    flex-direction: column;
  }
  .formulario__left div:last-child {
    margin-left: 0;
  }
  .formulario__right div:first-child {
    width: 98%;
  }
  textarea,
  .formulario__right div:first-child input {
    width: 99%;
  }
}
@media only screen and (max-width: 767px) {
  /*Header*/
  .encabezado__header {
    width: 95%;
  }
  .encabezado__header div:first-child img {
    width: 75%;
  }
  .encabezado__header div:nth-child(2) {
    order: 1;
  }
  .encabezado__header div:nth-child(2) input {
    display: none;
  }
  .encabezado__header div:last-child {
    margin-left: -40%;
  }
  .encabezado__header div:last-child button {
    padding: 8px 40px;
  }
  .banner__container {
    margin-left: 2.5%;
    margin-bottom: 20px;
  }
  .banner__geek h2 {
    font-size: 2.8rem;
  }

  /*Main*/
  section {
    width: 95%;
  }
  /*section productos*/
  .productos__cuerpo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .item img {
    width: 100%;
  }
  .item {
    width: 47.5%;
    margin-bottom: 30px;
  }
  .item:last-child,
  .item:nth-child(5) {
    display: none;
  }
  /*section formulario*/
  .formulario {
    padding: 40px 2.5%;
    grid-template-columns: 100%;
  }
  .formulario__left {
    flex-direction: column;
    text-align: center;
  }
  .formulario__left div:last-child {
    margin-left: 0;
  }
  .formulario__right div:first-child {
    width: 98%;
  }
  textarea,
  .formulario__right div:first-child input {
    width: 99%;
  }
}
